<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <% let date = new Date() %>
    <span class="text-secondary">
      &copy; YelpCamp <%= date.getFullYear() %>
    </span>
  </div>
</footer>
