<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title:</label>
        <input
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          required />
        <div class="valid-feedback">Great name!</div>
        <div class="invalid-feedback">How do we call it?</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location:</label>
        <input
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          required />
        <div class="valid-feedback">I love that place!</div>
        <div class="invalid-feedback">How are we going to get there?</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Add image(s):</label>
        <input
          type="file"
          name="image"
          multiple
          id="image"
          class="form-control" />
        <div class="valid-feedback">It's beautiful!</div>
        <div class="invalid-feedback">Let me see if it's beautiful!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description:</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[description]"
          id="description"
          required></textarea>
        <div class="valid-feedback">It seems interesting!</div>
        <div class="invalid-feedback">Tell us about the campground!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price:</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
            required />
          <div class="valid-feedback">It's the best price!</div>
          <div class="invalid-feedback">You need a price!</div>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
  </div>
</div>
